@mixin structure($direction) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  font-family: "Fjalla One", sans-serif;
}
$leftMargin: 50px;
$leftMarginNavTitle: 30px;
$paraGraphTexts: 15px;
@mixin goalDiv-3($bgColor) {
  @include structure($direction: row);
  background: $bgColor;
  color: aliceblue;
  padding: 50px;
  justify-content: center;
  width: 25.8%;
  height: 250px;
  text-align: center;
  font-size: $paraGraphTexts;
}

@mixin primaryButton($buttonBgColor, $btnColor) {
  height: 40px;
  width: 150px;
  background-color: $buttonBgColor;
  border: none;
  border-radius: 25px;
  color: $btnColor;
}
.container {
  @include structure($direction: column);
  width: 100%;
  .container-1 {
    background-image: url(./images/bg1.jpg);
    background-repeat: no-repeat;
    background-position: 600px 50px;

    nav {
      @include structure($direction: row);
      align-items: center;
      gap: 1100px;
      h2 {
        margin-left: $leftMarginNavTitle;
        font-weight: 800;
      }
    }

    .body-text {
      margin-left: $leftMargin;
      height: 450px;
      .p1-big {
        top: 10px;
        font-weight: 900;
        font-size: 40px;
      }
      .p2-small {
        font-style: italic;
        font-size: 15px;
      }
      a {
        color: rgb(22, 163, 140);
        text-decoration: none;
      }
    }

    .learn-more-btn {
      @include primaryButton($buttonBgColor: black, $btnColor: white);
    }
  }

  .information-container {
    @include structure($direction: row);
    width: 100%;
    flex-wrap: wrap;
    .div-1 {
      @include goalDiv-3($bgColor: black);
    }
    .div-2 {
      @include goalDiv-3($bgColor: rgb(80, 218, 206));
    }
    .div-3 {
      @include goalDiv-3($bgColor: rgb(19, 107, 92));
    }
  }
  .about-container {
    @include structure($direction: column);
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: $paraGraphTexts;

    button {
      border: thin solid rgb(168, 163, 163);
      height: 30px;
      width: 150px;
      margin-top: 80px;
    }
  }
  .container-4 {
    @include structure($direction: row);
    width: 100%;
    margin-top: 80px;

    .cont-4-description-text {
      background: rgb(80, 218, 206);
      width: 48%;
    }
    .learn-more-btn-2 {
      @include primaryButton(
        $buttonBgColor: white,
        $btnColor: rgb(80, 218, 206)
      );
    }
  }
}
