.container-1 {
  background-image: url(../images/bg1.jpg);
  background-repeat: no-repeat;
  background-position: 600px 50px;
}

.container-1 nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1100px;
}

.container-1 nav h2 {
  margin-left: 30px;
  font-weight: 800;
}

.container-1 .body-text {
  margin-left: 50px;
  height: 450px;
}

.container-1 .body-text .p1-big {
  top: 10px;
  font-weight: 900;
  font-size: 40px;
}

.container-1 .body-text .p2-small {
  font-style: italic;
  font-size: 15px;
}

.container-1 .body-text a {
  color: #50dace;
  text-decoration: none;
}

.container-1 .learn-more-btn {
  height: 40px;
  width: 150px;
  background-color: black;
  border: none;
  border-radius: 25px;
  color: white;
}

.information-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  flex-wrap: wrap;
}

.information-container .div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
  color: aliceblue;
  padding: 50px;
  width: 25.8%;
  height: 250px;
  text-align: center;
  font-size: 15px;
}

.information-container .div-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #50dace;
  color: aliceblue;
  padding: 50px;
  width: 25.8%;
  height: 250px;
  text-align: center;
  font-size: 15px;
}

.information-container .div-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #136b5c;
  color: aliceblue;
  padding: 50px;
  width: 25.8%;
  height: 250px;
  text-align: center;
  font-size: 15px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 15px;
}

.about-container button {
  border: thin solid #a8a3a3;
  height: 30px;
  width: 150px;
  margin-top: 80px;
}

.container-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  margin-top: 80px;
  background: #50dace;
  color: white;
}

.container-4 .cont-4-description-text {
  padding: 70px;
  text-align: left;
  background: #50dace;
  width: 35%;
}

.container-4 .learn-more-btn-2 {
  height: 40px;
  width: 150px;
  background-color: white;
  border: none;
  border-radius: 25px;
  color: #50dace;
  margin-top: 40px;
}

.services-container-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-container-5 .service-tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  color: aliceblue;
  padding: 50px;
  width: 25.8%;
  height: 250px;
  text-align: center;
  font-size: 15px;
  margin-right: 650px;
  row-gap: 65px;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  color: black;
}

.services-container-5 button {
  border: thin solid #a8a3a3;
  height: 30px;
  width: 150px;
  margin-top: 80px;
}

.container-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Fjalla One", sans-serif;
  width: 100%;
  margin-top: 80px;
  background: #e4dddd;
}

.container-6 img {
  width: 641px;
  height: 450px;
}

.container-6 .cont-6-description-text {
  padding-top: 80px;
  padding-left: 80px;
  width: 42%;
  margin-left: 50px;
}

.container-6 .learn-more-btn-3 {
  height: 40px;
  width: 150px;
  background-color: #50dace;
  border: none;
  border-radius: 25px;
  color: white;
  margin-top: 50px;
}

.know-us-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #50dace;
  color: white;
  height: 200px;
}

.know-us-more .description-text {
  margin-left: 50px;
  padding-left: 80px;
}

.know-us-more .learn-more-btn-4 {
  height: 40px;
  width: 150px;
  background-color: white;
  border: none;
  border-radius: 25px;
  color: #50dace;
  margin: auto;
}

.container-8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.container-8 .view-more-btn {
  border: thin solid black;
  height: 30px;
  width: 150px;
  margin-top: 250px;
  background-color: black;
  color: aliceblue;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fjalla One", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: black;
  color: white;
}
/*# sourceMappingURL=layout.css.map */